@{
    ViewData["Title"] = "Register User";
}

<h2>Welcome</h2>

<ul>
    <li>@ViewData["userid"]</li>
    <li>@ViewData["email"]</li>
    <li>@ViewData["password"]</li>
    <li>@ViewData["blogid"]</li>
    <li>@ViewData["blogtitle"]</li>
</ul>